*{
    padding: 0;
    margin: 0;
    text-transform: capitalize;
}
#container {
    margin: 20px 8%;
}
#container p {
    font-size: 40px;
    color: #333333;
    margin-bottom: 10px;
    font-weight: 700;
}
#main-content {
    background-color: #EEEEEE;
    padding: 70px 50px;
    border-radius: 15px;
}
#main-content p {
    font-size: 25px;
    font-weight: 700;
    color: #333333;
    margin: 10px 0px;
}
#main-content label {
    font-size: 20px;
    font-weight: 800;
    display: inline-block;
    margin: 8px 0px;
}

input, select {
    color: gray;
    font-size: 16px;
    padding: 8px 10px;
    width: 95%;
    border-radius: 10px;
    border: 1px solid lightgray;
}
input:focus {
    color: black;
}
select {
    width: 97%;
}
.custom-btn {
    font-size: 16px;
    margin: 15px 0px;
    background-color: #337AB7;
    color: #fff;
    border: none;
    border-radius: 8px;
    padding: 10px 15px;
}
.custom-btn:hover {
    background-color: #286090;
    cursor: pointer;
}
#adding-responses {
    margin: 30px 9%;
}
.new-response {
    background-color: #eee;
    padding: 20px 15px;
    border-radius: 15px;
    margin: 20px 0px;
}
.new-response .issue-id {
    font-size: 14px;
    margin: 7px 0px;
}
.open {
    background-color: #5BC0DE;
    color: #fff;
    padding: 3px;
    border: none;
    margin: 5px 0px;
}
.new-response .issue-description {
    margin-top: 16px;
    font-size: 27px;
    color: #333333;
}
.new-response .option {
    margin: 5px 0px;
    font-size: 20px;
}
.new-response .assign {
    font-size: 18px;
}



.close {
    background-color: #F0AD4E;
}
.close:hover {
    background-color: #EC971F;
}
.delete{
    background-color: #D9534F;
}
.delete:hover {
    background-color: #C9302C;
}